.paino-key {
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    width: 2em;
    height: 7em;
    color :black;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;        
    display: flex;
    margin: 0 .1em;
}
.paino-key span {
    align-self: flex-end;
    display: block;
    width: 2em;
    font-size: .8em;
    opacity: .25;
}

.black-paino-key {
    position: relative;    
    margin-left: -0.9em;
    margin-right: -0.9em;
    background-color: black;
    color: white;
    border: 1px solid white;
    height: 4em;
    z-index: 100;
}

.keyboard-wrapper {
    z-index: 99;
    position: relative;
    height: 9em;
    display: flex;
    
    padding-bottom: 8em;
    overflow-x: scroll;
    overflow-y: hidden;
}

