.paino-key {
    box-sizing:border-box;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    border-top-width: 0px; 
    width: 26px;
    height: 100px;
    color :black;
    text-align: center;        
    display: flex;
    margin: 0px;
}
.paino-key.active-key {
    background-color:#f2dea7; 
}
.black-paino-key.active-key {
background-color: rgb(63, 51, 30);
}
.black-paino-key {
    margin: 0 -13px;
    background-color: black;
    color: white;
    border: 1px solid white;
    height: 60px;
    z-index: 100;
}
.paino-key span {
    align-self: flex-end;
    user-select: none;  
    width: 30px;
    font-size: .8em;
    opacity: .25;
}



.keyboard-wrapper {
    z-index: 99;
    position: relative;
    height: 130px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

